.bande1{
    background-color: rgb(245,0,0);
}

.image_couleur_fond{
    -fx-base : #be0c0c;
}

.image_bouton_1{
    -fx-background-image : url("Bouton_add.png");
    -fx-background-position: center center;
    -fx-background-size: 119 63;
    -fx-background-color : #be0c0c;
    -fx-border-style : none;
}
.image_bouton_2{
    -fx-background-image : url("Liste.png");
    -fx-background-position: center center;
    -fx-background-color : #be0c0c;
    -fx-background-size: 99 69;
    -fx-border-style : none;
}
.image_bouton_3{
    -fx-background-image : url("Pencil.png");
    -fx-background-position: center center;
    -fx-background-color : #be0c0c;
    -fx-background-size: 61 63;
    -fx-border-style : none;
}
